body
{
background-image:url("/home/prerna/Desktop/intro to SS/dark-blue-background-backgrounds-wallpapers.jpg/");
}
.navbar {
  overflow: hidden;
  background-color: #333;
position:fixed;
top:0;
width:100%;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
@media screen and (max-width: 992px)
{body
{
font-weight:bold;
}
} 
@media screen and (max-width: 600px) 
{
body
{
font-weight:bold;
}
}
@media screen and (min-width:680px)
{
body{
font-weight:bold;
}
}
.one
{
text-align:center;
font-family:'Kaushan Script',cursive;
padding:0 20px;
font-size:80px;
}
.sticky + .content {
  padding-top: 60px;
}

