body
{
background:url("/home/prerna/Desktop/intro to SS/free-abstract-background-11-vector.jpg");
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  padding: 20px;
font-size:30px;
}

#customers tr:nth-child(even){
font-size:30px;
}

#customers tr:hover {
font-size:30px;
}

#customers th {
  padding-top: 20px;
font-size:50px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
text-align: center;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

